@font-face {
    font-family: 'TT Mussels';
    src: url('fonts/TTMussels-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Mussels';
    src: url('fonts/TTMussels-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}