---
import Layout from "../layouts/Layout.astro";
import Screen from "../components/Screen.astro";
import Screen2 from "../components/Screen2.astro";
import Screen3 from "../components/Screen3.astro";
import Screen4 from "../components/Screen4.astro";
import Numbers from "../components/Numbers.astro";
import HowItWorks from "../components/How-it-works.astro";
---

<Layout title="Home">
	<div id="wrapper">
		<div id="content">
			<Screen />
			<Screen2 />
			<Screen3 />
			<Screen4 />
			<Numbers></Numbers>

			<!-- <HowItWorks /> -->
		</div>
	</div>
</Layout>

<script>
	import { gsap } from "gsap";
	import { ScrollTrigger } from "gsap/ScrollTrigger";

	gsap.registerPlugin(ScrollTrigger);

	// ScrollSmoother.create({
	// 	wrapper: "#wrapper",
	// 	content: "#content",
	// });

	const fadeInElements = gsap.utils.toArray(".fade-in");
	fadeInElements.forEach((fadeInElement: any) => {
		gsap.from(fadeInElement, {
			scrollTrigger: {
				trigger: fadeInElement,
				start: "center bottom",
			},
			y: 100,
			opacity: 0,
			duration: 0.5,
		});
	});

	const fadeInScrubElements = gsap.utils.toArray(".fade-in-scrub");
	fadeInScrubElements.forEach((fadeInElement: any) => {
		gsap.from(fadeInElement, {
			scrollTrigger: {
				trigger: fadeInElement,
				start: "center bottom",
				scrub: false,
			},
			y: 100,
			opacity: 0,
			duration: 0.5,
		});
	});

	const fadeInRightElements = gsap.utils.toArray(".fade-in-right");
	fadeInRightElements.forEach((fadeInElement: any) => {
		gsap.from(fadeInElement, {
			scrollTrigger: {
				trigger: fadeInElement,
				start: "center bottom",
				scrub: false,
				
			},
			x: 100,
			opacity: 0,
			duration: 0.5,
		});
	});

	const fadeInLeftElements = gsap.utils.toArray(".fade-in-left");
	fadeInLeftElements.forEach((fadeInElement: any) => {
		gsap.from(fadeInElement, {
			scrollTrigger: {
				trigger: fadeInElement,
				start: "center bottom",
				scrub: false,
				
			},
			x: -100,
			opacity: 0,
			duration: 0.5,
		});
	});
</script>
