---
import Layout from "../layouts/Layout.astro";
import Button from "../components/ui/Button.astro";
import trustPilotLogo from '../assets/img/trustpilot-logo.svg';
import cart from '../assets/img/cart.svg';
import logo from '../assets/img/logo.svg';
import { Image, Picture } from '@astrojs/image/components';


---

<Layout title="Kitchen">
    <div class="kitchen">
        <h1>Heading 1</h1>
        <h2>Heading 2</h2>
        <img src={logo} alt="logo">
        <img src={trustPilotLogo} alt="trustpilot logo"> 
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam tenetur officia eius accusamus? Similique, recusandae.</p>
        <Button href="/">Learn about us</Button>
    </div>
</Layout>

<style>
    .kitchen  {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        padding: 30px;
    }
</style>