<section>
    <div class="container px-2 md:px-0 mx-auto py-6 flex flex-col lg:flex-row gap-5 lg:gap-0">
        <div class="lg:w-1/2">
            <img
                    src="/img/cert.png"
                    alt="ratata car"
                    class="relative z-10"
                    aria-hidden="true"
            />
        </div>
        <div class="lg:w-1/2 flex flex-col items-center justify-center">
            <h2
                    class="text-lg md:text-xl lg:text-2xl xl:text-3xl text-center font-bold uppercase font-display italic relative mb-4"
            >
                ПОДАРИ ВПЕЧАТЛЕНИЯ НА&nbsp;ВСЮ&nbsp;ЖИЗНЬ —
                СЕБЕ&nbsp;ИЛИ&nbsp;БЛИЗКОМУ
            </h2>
            <button class="open-certificate-modal-js bg-accent text-white flex justify-center items-center h-[60px] w-full md:min-w-[350px] md:w-auto transition hover:shadow-button hover:shadow-accent"
            >Подарить сертификат</button
            >
        </div>
    </div>
</section>