---
import RedBlock from "./ui/red-block.astro";
import PlusIcon from "./ui/plus-icon.astro";
const faqList: {
  question: string;
  answer: string;
}[] = [
  {
    question: "Как курс поможет мне избегать ДТП?",
    answer: "Большинство столкновений происходит в городе: в плотном потоке, при перестроениях, на парковке. После курса ты будешь лучше чувствовать габариты машины, выбирать скорость и держать безопасную дистанцию. А еще — смотреть куда едешь, красиво проходить повороты и выходить из заноса. Звучит как иммунитет к 90% ДТП, правда?",
  },
  {
    question: "Моя девушка плохо водит или совсем не умеет. Могу отправить ее к вам?",
    answer: "Это отличное решение! Даже не думай учить ее сам: в лучшем случае все закончится слезами, в худшем — она больше никогда не сядет за руль. Приводи свою ненаглядную к нам. Специально обученный тренер повторит всё миллион раз, разберет ошибки и ни разу не повысит голос. 100% девушек из фокус-группы говорят, что учиться с тренером — легко и комфортно, а водить — на самом деле классно и не страшно. Твоей тоже понравится.",
  },
  {
    question: "Я 20 лет за рулем. Чему вы меня можете научить?",
    answer: "Если ты ни разу не улетал в отбойник и не катал на капоте пешехода-смертника — возможно, все это время тебе везло. Достаточно одного неудачного заноса, чтобы оказаться в кювете. Лучше проверить свое мастерство на полигоне, в безопасных условиях. Заодно проверим — вдруг ещё есть чему тебя научить?",
  },
  {
    question: "Почему на вашей машине будет дешевле, чем на моей?",
    answer: "Машина подвергается серьезным нагрузкам, и ресурс всех узлов значительно снижается. Протектор шин на передней оси стачивается за один день наших тренировок. Если твоя резина отходила хотя бы сезон, скорее всего, на полигоне ты её добьёшь. Двигатель и коробка могут перегреться, а уставшая подвеска — откинуться от перегрузок. Масло придется поменять, как и тормозные колодки, а там и диски можно подмахнуть. И еще заправиться надо. Может, оставишь все это на нас?",
  },
  {
    question: "И всё же, можно пройти курс на своей машине?",
    answer: "Прости, но для нас главное — безопасность: твоя и тренера. На курсе придется разгоняться до 90 км/ч и выше. В наших «поликах» есть инструкторские педали, и тренер сможет вмешаться, если что-то пойдёт не так. В твоей машине — вмешаться сможет разве что господь бог, но предупреждаем: тренер не знает молитвы от полёта боком в кусты. Так что побереги свою ласточку. Поверь, она этого не заслуживает.",
  },
  {
    question: "Я могу прийти на курс, если у меня нет прав?",
    answer: "Да! И даже если ты никогда не сидел за рулем. Главное — чтобы тебе было хотя бы 18 лет.",
  },
  {
    question: "Почему у вас нет машин на механике?",
    answer: "Чтобы освоить технику вождения, тебе нужны 100% концентрации. Если придется ещё и переключать передачи, можно совсем запутаться в руках и ногах. Автомат не требует к себе внимания, так что твоё обучение пройдет эффективнее. Освой технику — потом сможешь усложнить процесс.",
  },
  {
    question: "А почему нет машин на заднем или полном приводе?",
    answer: "Правильная техника позволяет водить абсолютно любой автомобиль. Всё, чему ты научишься на нашем маленьком Polo, спасет твою жизнь и в LC200, и в BMW M5.",
  },
  {
    question: "Сколько стоят курсы контраварийного вождения?",
    answer: "Позвони нам или оставь заявку. Менеджеры помогут выбрать курс и сориентируют по стоимости.",
  },
   {
    question: "Можно подарить курс другому человеку?",
    answer: "Конечно! Скажи менеджеру, что покупаешь курс в подарок, и после оплаты мы вышлем электронный именной сертификат. Это будет лучший подарок, мы гарантируем. С правилами использования подарочных сертификатов можно ознакомиться здесь: https://ratata.ru/terms/",
  },
   {
    question: "Как подготовиться к курсу?",
    answer: "Надень удобную одежду и обувь. Хорошо поешь за пару часов до тренировки. Не забудь куртку, шапку и шарф: на полигоне может быть холодно и ветрено. Возьми с собой водичку или термос с чаем — пригодятся в перерывах. До встречи на взлетной полосе!",
  },
];
---

<section class="faq-section" id="faq">
  <h2 class="faq-section__title">Частые вопросы</h2>
  <div class="faq-list">
    {
      faqList.map((item) => (
        <button  type="button" class="faq-item" x-data="{ open: false }" x-on:click="open = ! open">
          <div class="faq-item__main">
            <div class="faq-item__question"><span>{item.question} </span>
              
              <div class="faq-item__button" :class="open && 'faq-item__button--active'">
            <RedBlock>
              <PlusIcon class="faq-item__icon" />
            </RedBlock>
          </div>
              </div>
            <div class="faq-item__answer" x-show="open" x-transition>{item.answer}</div>
          </div>
        </button>
      ))
    }
  </div>
</section>

<style is:global>
    .faq-item__button {
        background: none;
        border: none;
        cursor: pointer;
    }

    .plus-icon {
        transition: all .3s ease-in-out;
    }

    .faq-item__button--active .plus-icon {
        transform: rotate(45deg);
    }
  .faq-item {
    cursor: pointer;
    text-align: left;
    padding: 15px 0;
    width: 100%;
    background: none;
    border: none;
    border-top: 1px solid #e7e7e7;
  }

  .faq-item:last-child {
    border-bottom: 1px solid #e7e7e7;
  }
  .faq-section {
    padding: var(--container-padding);
    padding-top: 90px;
    padding-bottom: 90px;
  }
  .faq-section__title {
    font-style: italic;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 45px;
  }

  .faq-item__question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    width: 100%;
  }

  .faq-item__answer {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #8d8d8d;
    margin-top: 5px;
  }

  @media (max-width: 1023px) {
    .faq-section {
      padding: 0 40px;
      padding-top: 100px;
      padding-bottom: 90px;
    }
    .faq-item__question {
      font-weight: 400;
      font-size: 18px;
      line-height: 23px;
    }
    .faq-item__answer {
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
    }
    .faq-section__title {
      font-weight: 700;
      font-size: 35px;
      line-height: 39px;
      text-align: center;
      text-transform: uppercase;
    }
  }
</style>
