---
import RedBlock from "./ui/red-block.astro";
import PlusIcon from "./ui/plus-icon.astro";
const faqList: {
  question: string;
  answer: string;
  link?: string;
}[] = [
{
    question: "Почему лучше пройти полный курс?",
    answer: "Каким бы талантливым учеником вы ни были, с первого раза научиться чему-либо невозможно: мозгу и мышцам нужно привыкнуть к новым действиям. Три занятия — уже регулярная практика, которая поможет запомнить, что куда крутить и нажимать.",
  },
  {
    question: "Можно пройти не курс, а одну программу?",
    answer: "Конечно. Вы можете сразу выбрать программу в форме заявки — или оставить выбор до беседы с менеджером.",
  },
  {
    question: "С какой программы лучше начать?",
    answer: "С контраварийных программ Safety или Skill: так вы освоите основные принципы управления. С ними на Drift будет гораздо проще.",
  },
  {
    question: "Какая программа лучше, Safety или Skill?",
    answer: "Они одинаково полезны: навыки дают одни и те же, но упражнения немного отличаются. Так что главные отличия — в цене и продолжительности программы. А еще программы можно проходить в любом порядке, и с каждым разом узнавать что-то новое. Практики много не бывает.",
  },
  {
    question: "А чем тогда различаются программы?",
    answer: "Safety даст тебе основные навыки безопасного вождения. Все знания упакованы в насыщенную 2-часовую программу. Это не урезанная версия, а интенсивная тренировка: 100% пользы — уже здесь. Skill длится 3 часа, так что у тебя будет больше времени на отработку элементов. А еще ты сможешь оценить свой прогресс и попасть в таблицу рекордов. Наши тренеры и основатели в ней тоже есть. Drift даст меньше спасительных навыков, но этот опыт ты запомнишь навсегда. Это будет полная ратата. Программа на стадии обкатки.",
  },
  {
    question: "Как эти уроки помогут мне избегать ДТП?",
    answer: "Большинство столкновений происходит в городе: в плотном потоке, при перестроениях, на парковке. На курсе мы покажем, как лучше чувствовать габариты машины, выбирать скорость и держать безопасную дистанцию. А еще — смотреть куда едешь, красиво проходить повороты и выходить из заноса. Звучит как иммунитет к 90% ДТП, правда?",
  },
  {
    question: "Моя девушка плохо водит или совсем не умеет. Могу отправить ее к вам?",
    answer: "Это отличное решение! Даже не думай учить ее сам: в лучшем случае все закончится слезами, в худшем — она больше никогда не сядет за руль. Приводи свою ненаглядную к нам. Специально обученный тренер повторит всё миллион раз, разберет ошибки и ни разу не повысит голос. 100% девушек из фокус-группы говорят, что учиться с тренером — легко и комфортно, а водить — на самом деле классно и не страшно. Твоей тоже понравится.",
  },
  {
    question: "Я 20 лет за рулем. Чему вы меня можете научить?",
    answer: "Если ты ни разу не улетал в отбойник и не катал на капоте пешехода-смертника — возможно, все это время тебе везло. Достаточно одного неудачного заноса, чтобы оказаться в кювете. Лучше проверить свое мастерство на полигоне, в безопасных условиях. Заодно проверим — вдруг ещё есть чему тебя научить?",
  },
  {
    question: "Почему на вашей машине будет дешевле, чем на моей?",
    answer: "Машина подвергается серьезным нагрузкам, и ресурс всех узлов значительно снижается. Протектор шин на передней оси стачивается за один день наших тренировок. Если твоя резина отходила хотя бы сезон, скорее всего, на полигоне ты её добьёшь. Двигатель и коробка могут перегреться, а уставшая подвеска — откинуться от перегрузок. Масло придется поменять, как и тормозные колодки, а там и диски можно подмахнуть. И еще заправиться надо. Может, оставишь все это на нас?",
  },
  {
    question: "И всё же, можно тренироваться на своей машине?",
    answer: "Прости, но для нас главное — безопасность: твоя и тренера. На занятиях придется разгоняться до 70 км/ч и выше. В наших «поликах» есть инструкторские педали, и тренер сможет вмешаться, если что-то пойдёт не так. В твоей машине — вмешаться сможет разве что господь бог, но предупреждаем: тренер не знает молитвы от полёта боком в забор. Так что побереги свою ласточку. Поверь, она этого не заслуживает.",
  },
  {
    question: "Я могу записаться на курс, если у меня нет прав?",
    answer: "Да! И даже если ты никогда не сидел за рулем. Главное — чтобы тебе было хотя бы 18 лет.",
  },
  {
    question: "Почему у вас нет машин на механике?",
    answer: "Чтобы освоить технику вождения, тебе нужны 100% концентрации. Если придется ещё и переключать передачи, можно совсем запутаться в руках и ногах. Автомат не требует к себе внимания, так что твоё обучение пройдет эффективнее. Освой технику — потом сможешь усложнить процесс.",
  },
  {
    question: "А почему нет машин на полном приводе?",
    answer: "Правильная техника позволяет водить абсолютно любой автомобиль. Всё, чему ты научишься на нашем маленьком Polo, спасет твою жизнь и в LC200, и в BMW M5. Но кое-что мы все же решили добавить, ждите анонса.",
  },
  {
    question: "Сколько стоит курс контраварийного вождения?",
    answer: "Позвони нам или оставь заявку. Менеджеры расскажут все о курсе, подскажут стоимость и помогут выбрать удобные даты.",
  },
  {
    question: "Можно подарить курс другому человеку?",
    answer: `Конечно! Скажи менеджеру, что покупаешь курс в подарок, и после оплаты мы вышлем электронный именной сертификат. Это будет лучший подарок, мы гарантируем. С правилами использования подарочных сертификатов можно ознакомиться здесь:`,
    link: 'https://ratata.ru/terms/'
  },
   {
    question: "Как подготовиться к занятию?",
    answer: "Наденьте удобную одежду и обувь на плоской и тонкой подошве. Возьмите паспорт или сделайте его фото — ваши данные нужны, чтобы на месте оформить документы. Хорошо поешьте за пару часов до тренировки. Если слабый вестибулярный аппарат, то выпейте таблетки от укачивания перед занятием, чтобы вам ничего не мешало заниматься. До встречи на площадке!",
  },
];
---

<section class="faq-section" id="faq">
  <h2 class="faq-section__title">Частые вопросы</h2>
  <div class="faq-list">
    {
      faqList.map((item) => (
        <button  type="button" class="faq-item" x-data="{ open: false }" x-on:click="open = ! open">
          <div class="faq-item__main">
            <div class="faq-item__question"><span>{item.question}</span> 
              
              <div class="faq-item__button" :class="open && 'faq-item__button--active'">
            <RedBlock>
              <PlusIcon class="faq-item__icon" />
            </RedBlock>
          </div>
              </div>
            <div class="faq-item__answer" x-show="open" x-transition>{item.answer} {!!item.link && <a class="link" href={item.link}>{item.link}</a>}</div>
          </div>
        </button>
      ))
    }
  </div>
</section>

<style is:global>
    .faq-item__button {
        background: none;
        border: none;
        cursor: pointer;
    }

    .plus-icon {
        transition: all .3s ease-in-out;
    }

    .faq-item__button--active .plus-icon {
        transform: rotate(45deg);
    }
  .faq-item {
    cursor: pointer;
    text-align: left;
    padding: 15px 0;
    width: 100%;
    background: none;
    border: none;
    border-top: 1px solid #e7e7e7;
  }

  .faq-item:last-child {
    border-bottom: 1px solid #e7e7e7;
  }
  .faq-section {
    padding: var(--container-padding);
    padding-top: 90px;
    padding-bottom: 90px;
  }
  .faq-section__title {
    font-style: italic;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 45px;
  }

  .faq-item__question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    width: 100%;
  }

  .faq-item__answer {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #8d8d8d;
    margin-top: 5px;
  }

  .faq-item__answer .link {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
  }

  @media (max-width: 1023px) {
    .faq-section {
      padding: 0 40px;
      padding-top: 100px;
      padding-bottom: 90px;
    }
    .faq-item__question {
      font-weight: 400;
      font-size: 18px;
      line-height: 23px;
    }
    .faq-item__answer {
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
    }
    .faq-section__title {
      font-weight: 700;
      font-size: 35px;
      line-height: 39px;
      text-align: center;
      text-transform: uppercase;
    }
  }
</style>
