<section class="faq-section">
    <h2 class="faq-section__title">Частые вопросы</h2>
</section>
<style>
    .faq-section__title {
        font-style: italic;
        font-weight: 700;
        font-size: 45px;
        line-height: 50px;
        text-align: center;
        text-transform: uppercase;
    }
</style>