---
import logo from "../assets/img/logo.png";
import { Image } from "@astrojs/image/components";
import Button from "./ui/Button.astro";

const navList = [
    {
        text: "Для кого",
        ulr: "/home",
    },
    {
        text: "Программа",
        ulr: "/order",
    },
    {
        text: "Тренеры",
        ulr: "/company",
    },
    {
        text: "FAQ",
        ulr: "/faq",
    },
    {
        text: "Контакты",
        ulr: "/contact",
    },
];
---

<header>
    <Image src={logo} alt="logo" />
    <nav>
        <ul class="nav__ul">
            {
                navList.map((navItem) => (
                    <li class="nav__li">
                        <a class="nav__link" href={navItem.ulr}>
                            {navItem.text}
                        </a>
                    </li>
                ))
            }
        </ul>
    </nav>
    <a href="tel:+79991112233" class="header__tel">+7 (999) 111–22–33</a>
    <Button href="/go" style={"outline"}>Записаться</Button>
</header>
<style>
    header {
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: var(--container-padding);
    }
    .header__tel {
    }

    nav {
        display: flex;
        align-items: center;
    }
    .nav__ul {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .nav__li {
        list-style: none;
    }

    .nav__link {
        color: var(--color-main);
        text-decoration: none;
    }

    .header__tel {
        font-size: 20px;
        font-weight: 400;
        line-height: 25px;
        color: var(--color-accent-dark);
        text-decoration: none;
    }
</style>
