---
import { Image } from "@astrojs/image/components";
import hiwImage from "../assets/img/hiw1.png";
import hiwImage2 from "../assets/img/hiw2.png";
import hiwImage3 from "../assets/img/hiw3.png";
---

<section >
    <h2>How it Works</h2>
    <div class="items fade-in">
        <article>
            <Image src={hiwImage} alt="adapt" width={333} height={267} />
            <h3>Adapt your menu items</h3>
            <p>
                Easily adapt your menu using the webflow CMS and allow customers
                to browse your items.
            </p>
        </article>
        <article>
            <Image src={hiwImage2} alt="adapt" width={333} height={267} />
            <h3>Accept online orders & takeout</h3>
            <p>
                Let your customers order and pay via the powerful ecommerce
                system, or simple let them call your store..
            </p>
        </article>
        <article>
            <Image src={hiwImage3} alt="adapt" width={333} height={267} />
            <h3>Manage delivery or takeout</h3>
            <p>
                Manage your own logistics and take orders simply through the
                ecommerce system.
            </p>
        </article>
    </div>
</section>
<style>
    section {
        text-align: center;
        padding: var(--container-padding);
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .items {
        display: flex;
        justify-content: space-between;
    }

    h2 {
        margin-bottom: 66px;
    }

    article {
        width: 333px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    article > h3 {
        font-weight: 400;
        font-size: 20px;
        line-height: 22px;
        text-align: center;
        letter-spacing: 0.66px;
        margin-top: 48px;
        margin-bottom: 15px;
    }
    article > p {
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        text-align: center;
        letter-spacing: 0.36px;
        color: var(--color-main-light);
    }
</style>

<script>
</script>
