---
const numbers: {
  value: string;
  text: string;
}[] = [
  {
    value: "01",
    text: "день интенсивных тренировок",
  },
  {
    value: "02",
    text: `человека в машине — ты и тренер`,
  },
  {
    value: "03",
    text: `автомобиля на площадке`,
  },
  {
    value: "10",
    text: `упражнений от&nbsp;мастера автоспорта`,
  },
  {
    value: "25",
    text: `километров пробега по&nbsp;полигону`,
  },
  {
    value: "90",
    text: "км/ч — максимальная скорость упражнений",
  },
];
---

<div class="numbers__wrapper">
  <section class="numbers-screen">
    <main class="numbers">
      <div class="numbers__values">
        {
          numbers.map((number) => (
            <div class="number">
              <div class="number__value">{number.value}</div>
              <div class="number__text" set:html={number.text} />
            </div>
          ))
        }
      </div>
      <h2 class="numbers-screen__title">
        <span class="first-line">научат тебя большему,</span><span
          class="second-line">чем годы за&nbsp;рулем</span
        >
        <span class="title-line"></span>
      </h2>
    </main>
  </section>
</div>

<style>
  .numbers__wrapper {
    max-width: 100%;
    overflow-x: hidden;
  }
  .numbers-screen {
    /* padding: 90px 0; */
    padding-bottom: 90px;
    margin: 0 0;
  }
  .numbers-screen__title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-shrink: 0;
    font-size: 70px;
    position: relative;
  }
  .numbers-screen__title > span {
    display: block;
    white-space: nowrap;
  }
  .first-line {
    color: var(--color-accent);
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
  }

  .title-line {
    z-index: 0;
    display: block;
    position: absolute;
    background: #a1d2ff;
    height: 25px;
    width: 767px;
    left: calc(50% + 25px);
    transform: translateX(-50%);
    top: 82px;
  }

  .second-line {
    padding-left: 144px;
  }

  .numbers-screen {
    /* padding: var(--container-padding); */
    color: #3CA0FF;
    display: flex;
    justify-content: flex-end;
  }

  .numbers {
    display: grid;
    grid-template-columns: min-content 100vw;
    /* transform: translateX(100%); */
  }

  .numbers__values {
    display: flex;
    gap: 40px;
    /* position: absolute; */
    /* right: calc(100% + 140px); */
  }
  .number__value {
    font-family: var(--heading-font);
    font-style: italic;
    font-weight: 700;
    font-size: 180px;
    line-height: 198px;
    color: inherit;
    width: 260px;
    flex-shrink: 0;
  }

  .number__text {
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    color: #646464;
  }

  @media (max-width: 1023px) {
    .numbers-screen__title {
      
      font-weight: 700;
      font-size: 40px;
      line-height: 120%;
      /* or 48px */

      text-align: center;
      text-transform: uppercase;    
    }
    .numbers-screen__title > span {
      white-space: inherit;
    }

    .number__value {
      font-weight: 700;
      font-size: 180px;
      line-height: 198px;
    }

    .number__text {
      font-weight: 400;
      font-size: 18px;
      line-height: 23px;
    }

    .title-line {
      width: 90%;
      bottom: -40px;
    }

    .second-line {
      padding-left: 0;
    }
  }
</style>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  
  let pinWrap: HTMLElement = document.querySelector(".numbers");

    gsap.from(pinWrap, {
        scrollTrigger: {
            scrub: true,
            trigger: '.numbers-screen',
            pin: true,
            start: "center center",
            end: `center+=${pinWrap.offsetWidth + 100} center`,
        },
        color: "#e4f2ff",
        xPercent: 100,
        ease: "none",
    });
</script>
