---
import { Image } from 'astro:assets';
import carImage from "../assets/img/screen2_car.jpg";
import deerImage from "../assets/img/screen2_deer.jpg";
import Parallax from './ui/Paralax';
---

<section class="screen2" id="screen2"> 
    <main class="screen2__main relative">
        <div class="first-option fade-in-right">
            <div class="first-option__content">
                <h3 class="screen2__h3 accent-text ">
                    Оказаться в сложных дорожных&nbsp;условиях
                </h3>
                <p class="screen2__text">и действовать интуитивно?</p>
            </div>
            <div class="first-option__image-wrapper">
                <Image class="first-option__img h-[275px]" src={deerImage} alt=""/>
            </div>
        </div>
        <h2 class="screen2__title">Есть идея получше —</h2>
        <div class="second-option fade-in-left">
            <div class="second-option__image-wrapper">
                <Image src={carImage} alt="" class="second-option__img h-[275px]" />
            </div>
            <div class="second-option__content">
                <h3 class="screen2__h3">узнай, как управлять авто в любых ситуациях</h3>
                <p class="screen2__text">и закрепи на практике</p>
            </div>
        </div>
        <div class="container h-full mx-auto absolute right-0 top-0">
            <Parallax className="hidden sm:block absolute -left-[250px] top-0" speed={1.2} client:visible>
                <svg width="250" height="320" viewBox="0 0 192 320" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g opacity="0.85" filter="url(#filter0_f_1647_405)">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M29.9453 304.023L78.7355 267.45L73.7538 207.682L24.9636 244.254L29.9453 304.023ZM122.546 171.108L171.334 134.537L176.316 194.306L127.525 230.878L122.544 171.111L73.7559 207.682L68.7741 147.913L117.564 111.341L122.546 171.108ZM117.563 111.341L166.353 74.7686L161.371 14.9999L112.581 51.5722L117.563 111.341ZM68.7726 147.913L19.9824 184.485L15.0007 124.717L63.7909 88.1444L68.7726 147.913Z" fill="#FF0C49"/>
                    </g>
                    <defs>
                        <filter id="filter0_f_1647_405" x="0" y="0" width="191.316" height="319.023" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                            <feGaussianBlur stdDeviation="7.5" result="effect1_foregroundBlur_1647_405"/>
                        </filter>
                    </defs>
                </svg>
            </Parallax>
            <Parallax className="hidden sm:block absolute right-0 bottom-0" speed={1} client:visible>
                <svg width="192" height="320" viewBox="0 0 192 320" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g opacity="0.75" filter="url(#filter0_f_1647_405)">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M29.9453 304.023L78.7355 267.45L73.7538 207.682L24.9636 244.254L29.9453 304.023ZM122.546 171.108L171.334 134.537L176.316 194.306L127.525 230.878L122.544 171.111L73.7559 207.682L68.7741 147.913L117.564 111.341L122.546 171.108ZM117.563 111.341L166.353 74.7686L161.371 14.9999L112.581 51.5722L117.563 111.341ZM68.7726 147.913L19.9824 184.485L15.0007 124.717L63.7909 88.1444L68.7726 147.913Z" fill="#FF0C49"/>
                    </g>
                    <defs>
                        <filter id="filter0_f_1647_405" x="0" y="0" width="191.316" height="319.023" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                            <feGaussianBlur stdDeviation="7.5" result="effect1_foregroundBlur_1647_405"/>
                        </filter>
                    </defs>
                </svg>
            </Parallax>

            <Parallax className="hidden sm:block absolute right-0 bottom-0" speed={0.5} client:visible>
                <svg width="302" height="664" viewBox="0 0 302 664" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g opacity="0.5" filter="url(#filter0_f_1647_267)">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M15.8906 648.471L99.1383 573.299L106.185 437.432L22.937 512.603L15.8906 648.471ZM189.435 362.256L272.677 287.089L265.631 422.957L182.383 498.128L189.429 362.265L106.187 437.432L113.233 301.564L29.9854 376.736L37.0317 240.868L120.279 165.697L113.233 301.564L196.481 226.393L189.435 362.256ZM196.478 226.393L279.726 151.221L286.772 15.3538L203.524 90.5252L196.478 226.393Z" fill="#FF0C49"/>
                    </g>
                    <defs>
                        <filter id="filter0_f_1647_267" x="0.890625" y="0.35376" width="300.883" height="663.117" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                            <feGaussianBlur stdDeviation="7.5" result="effect1_foregroundBlur_1647_267"/>
                        </filter>
                    </defs>
                </svg>
            </Parallax>
        </div>
    </main>
</section>

<style>
    .screen2 {
        padding-bottom: 90px;
    }

    .screen2__main {
        padding-top: 150px;
    }

    .screen2__title {
        padding: var(--container-padding);
        padding-top: 120px;
        padding-bottom: 120px;
        font-style: italic;
        font-weight: 700;
        font-size: 70px;
        line-height: 77px;
        text-transform: uppercase;
        text-align: center;
    }

    .screen2__h3 {
        margin-bottom: 25px;
    }

    .screen2__text {
        letter-spacing: 1.05px;
    }

    .first-option {     
        display: grid;
        justify-content: center;
        /* align-items: center; */
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 275px;
    }

    .h2.second-option__or {
        color: var(--color-accent);
        margin-bottom: 27px;
        display: block;
    }

    .first-option__content {
        padding: var(--container-padding);
        padding-right: 0;
        padding-top: 73px;
    }

    .first-option__image-wrapper {
        padding-right: 115px;
    }

    .second-option__image-wrapper {
        padding-left: 115px;
    }

    .first-option__img {
        width: 100%;
        object-fit: cover;
        user-select: none;
        clip-path: polygon(26% 0%,100% 0%,74% 100%,0% 100%);
    }

    .second-option__img {
        width: 100%;
        object-fit: cover;
        user-select: none;
        clip-path: polygon(26% 0%,100% 0%,74% 100%,0% 100%);
    }

    .second-option {
        display: grid;
        /* align-items: center; */
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 275px;
    }

    .second-option__content {
        padding: var(--container-padding);
        padding-left: 110px;
        padding-top: 93px;
    }

    .second-option__content > h3 {
        margin-bottom: 14px;
    }

    @media (max-width: 1023px) {
        .screen2__title {
            font-size: 30px;
            line-height: 33px;
            padding-top: 50px;
            padding-bottom: 50px;
        }
        .first-option {
            grid-template-columns: 1fr;
            grid-auto-rows: min-content;
        }

        .first-option__image-wrapper {
            order: -1;
            padding-right: 20px;
        }

        .first-option__img {
            clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
        }

        .first-option__content {
            padding: 30px 40px;
        }

        .screen2__title{
            text-align: center;
        }

        .second-option {
            grid-template-columns: 1fr;
            padding-top: 50px;
            grid-auto-rows: min-content;
        }

        .second-option__image-wrapper {
            padding-left: 20px;
        }

        .second-option__img {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%);
        }

        .h2.second-option__or {
            font-size: 25px;
            line-height: 27.5px;
            margin-bottom: 20px;
        }

        .screen2__h3 {
            font-size: 25px;
            line-height: 27.5px;
        }

        .second-option__content {
            padding-left: 40px;
            padding-top: 30px;
        }
    }
</style>

<script>
    import { gsap } from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";
    const mm = gsap.matchMedia();

    // mm.add('(min-width: 1024px)', () => {
    //     gsap.registerPlugin(ScrollTrigger);

    //     ScrollTrigger.create({
    //         trigger: ".screen3",
    //         start: "-180px center",
    //         end: "top center",
    //         pin: ".second-option",
    //         pinSpacing: false,
    //     });
    // });
    
</script>
