---
import Button from "./ui/Button.astro";
import screen from "../assets/img/screen.jpg";
import screenMobile from "../assets/img/screen_mobile.jpg";
import video from "../assets/ratata.mp4";
---

<section class="relative">
    <div class="hidden md:block absolute left-0 top-0 w-full h-full z-[1] bg-cover bg-bottom" style={`background-image: url(${screen.src})`}></div>
    <video autoplay muted loop aria-hidden="true" class="hidden md:block absolute left-0 z-[1] top-0 h-full w-full object-cover">
        <source src={video} type="video/mp4" >
        <img src={screen.src} alt="">
    </video>
    <div class="block md:hidden absolute left-0 top-0 w-full h-full z-[1] bg-cover bg-bottom" style={`background-image: url(${screenMobile.src})`}></div>
    <div class="absolute left-0 top-0 z-[1] bg-gradient-to-r from-[rgba(0,0,0,0.5)] to-transparent w-full h-full"></div>

    <!--<div class="h-[66px] md:h-[100px]"></div>-->

    <div class="container mx-auto  pt-[124px] md:pt-0 px-2 2xl:px-0 relative z-[1] min-h-[100dvh] flex flex-col items-center">
        <main class="flex flex-1 items-center flex-col md:flex-row gap-6 md:gap-2 h-full">
            <div class="w-full lg:1/2 xl:w-2/3 text-center md:text-left text-white flex flex-col self-center lg:items-start gap-6">
                <div class="flex flex-col gap-2">
                    <h1 class="font-display text-xl md:text-2xl xl:text-4xl text-primary">
                        <span>Узнай, как&nbsp;ты&nbsp;реально умеешь&nbsp;водить</span>
                    </h1>
                    <p class="text-white">
                        Курс&nbsp;контраварийного вождения&nbsp;и&nbsp;дрифта<br>от&nbsp;Стаса&nbsp;Асафьева
                    </p>
                </div>
                <div class="flex gap-2 flex-col items-center xl:flex-row md:items-stretch ">
                    <button
                            class="open-modal-js text-sm bg-accent text-white flex justify-center items-center h-[60px] min-w-[300px] xl:min-w-[350px] transition hover:shadow-button hover:shadow-accent"
                    >Хочу ратата</button
                    >
                    <button class="open-certificate-modal-js text-sm bg-black bg-opacity-0 border-[1px] border-accent text-white flex justify-center items-center h-[60px] min-w-[300px] xl:min-w-[350px] transition hover:bg-opacity-100 hover:bg-accent"
                    >Подарить сертификат</button
                    >
                </div>
            </div>
            <div class="w-full lg:1/2 xl:w-1/3">
                <div class="w-full bg-black bg-opacity-75 backdrop-blur-md flex justify-between pt-5 max-h-[300px]">
                    <div class=" pl-4 pb-5 flex flex-col justify-between text-white">
                        <div class="flex flex-col">
                            <span class="text-lg font-bold mb-1">Стас Асафьев</span>
                            <span class="text-sm">Автоблогер</span>
                            <span class="text-sm">основатель&nbsp;RATATA</span>
                        </div>
                        <div class="text-accent flex items-center gap-1">
                            <svg
                                    width="31"
                                    height="19"
                                    viewBox="0 0 31 19"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                        fill-rule="evenodd"
                                        clip-rule="evenodd"
                                        d="M4.91894 0.752138L26.0618 0.685412C27.9195 0.679569 29.4459 2.11226 29.5862 3.93515L29.5967 4.20922V14.7857C29.5967 16.7319 28.0191 18.3095 26.0729 18.3095H4.93006C2.98391 18.3095 1.40625 16.7319 1.40625 14.7857V4.27593C1.40625 2.33412 2.97715 0.758264 4.91894 0.752138Z"
                                        stroke="currentColor"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                <path
                                        fill-rule="evenodd"
                                        clip-rule="evenodd"
                                        d="M13.7383 13.0238L19.024 9.50001L13.7383 5.9762V13.0238Z"
                                        fill="currentColor"
                                        stroke="currentColor"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                            </svg>
                            <a
                                    href="https://www.youtube.com/@AsafevStas"
                                    target="_blank"
                                    class="text-base underline">@AsafevStas</a
                            >
                        </div>
                    </div>
                    <img class="w-1/2 shrink-1 object-contain" src="/img/stas.png" alt="Стас Асафьев"/>
                </div>
            </div>
        </main>
        <span class="self-end mb-2 pt-2 text-white">
            Услугу предоставляют тренеры-партнеры ООО «Ратата»
        </span>
    </div>
</section>