---
import Button from "./ui/Button.astro";
---

<section>
    <main>
        <h1>
            Научись водить как&nbsp;боженька <strong>за 2 дня</strong>
        </h1>
        <p>Курсы контраварийной подготовки по&nbsp;спортивной&nbsp;методике</p>
        <div class="buttons">
            <Button href="#" style={"accent"}>Записаться</Button>
            <Button href="#">Подробнее</Button>
        </div>
    </main>
</section>

<style>
    section {
        background-image: url("img/screen.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 633px;
        padding: var(--container-padding);
    }

    main {
        width: 60%;
        padding-top: 125px;
    }

    h1 {
        font-family: var(--heading-font);
        font-weight: bold;
        font-size: 55px;
        line-height: 61px;
        text-transform: uppercase;
        color: var(--color-primary);
        margin-bottom: 30px;
    }

    strong {
        display: inline-flex;
        vertical-align: middle;
        padding: 9px 19px;
        margin-left: 9px;
        padding-bottom: 5px;
        margin-bottom: 10px;
        color: var(--color-contrast);
        background-color: var(--color-accent);
        font-weight: 700;
        font-size: 30px;
        line-height: 33px;
    }
    p {
        width: 50%;
        margin-bottom: 46px;
    }

    .buttons {
        display: flex;
        align-items: center;
        gap: 30px;
    }
</style>

<script></script>
