---
---

<section>
    <main>
        <h2>Мы – за второй вариант</h2>
    </main>
</section>

<style>
    section {
        padding: 180px 0;
    }
    h2 {
        text-align: center;
        font-size: 70px;
    }
</style>

<script></script>
