---
import Button from "./ui/Button.astro";
import screen from "../assets/img/screen.jpg";
import screenMobile from "../assets/img/screen_mobile.jpg";
import video from "../assets/video2.mp4";
---

<section class="banner-section" >
  <!-- <video autoplay muted loop class="banner-section__video">
    <source src={video} type="video/mp4" >
  </video> -->
  <div class="banner-section__background banner-section__background--desktop" style={`background-image: linear-gradient(90deg, rgba(255,255,255, 80%) 0, rgba(255, 255, 255, 0) 100%), url(${screen.src});`}></div>
  <div class="banner-section__background banner-section__background--mobile" style={`background-image: linear-gradient(180deg, rgba(255,255,255, 80%) 0, rgba(255, 255, 255, 0) 100%), url(${screenMobile.src});`}></div>
  <main class="banner-section__main">
    <h1 class="banner-section__title">
      <span
        >Научись водить как&nbsp;боженька <strong
          class="banner-section__title-mark ">за 1 день</strong
        >
      </span>
    </h1>
    <p class="banner-section__subtitle">
      Курсы контраварийной подготовки со&nbsp;спортивным&nbsp;духом
    </p>
    <div class="buttons">
      <Button style={"accent"} isModal={true}>Хочу ратата</Button>
      <Button href="/#screen2">Подробнее</Button>
    </div>
  </main>
  <span class="banner-section__description">
    Услугу предоставляют тренеры-парнтеры ООО «Ратата»
  </span>
</section>

<style is:global>
  .banner-section {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 633px;
    padding: var(--container-padding);
    position: relative;
    flex-direction: column;
    display: flex;
  }

  .banner-section__video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .banner-section__main {
    position: relative;
    z-index: 2;
    width: 60%;
    padding-top: 118px;
  }

  .banner-section__background {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      background-size: cover;
      background-position: center;
  }

  .banner-section__background--mobile {
    display: none;
  }


  .banner-section__title {
    font-family: var(--heading-font);
    font-weight: bold;
    font-size: 55px;
    font-style: italic;
    line-height: 73px;
    margin-left: -2px;
    text-transform: uppercase;
    color: var(--color-primary);
    margin-bottom: 26px;
    position: relative;
  }
  .banner-section__title::before {
    display: block;
    content: "";
    position: absolute;
    height: 18px;
    top: 44px;
    left: -20px;
    width: 521px;
    background: #f3f3f3;
    z-index: 1;
  }

  .banner-section__title > span {
    position: relative;
    z-index: 2;
  }

  .banner-section__title-mark {
    display: inline-flex;
    vertical-align: middle;
    padding: 9px 19px;
    margin-left: 23px;
    font-style: normal;
    padding-bottom: 5px;
    margin-bottom: 14px;
    color: var(--color-contrast);
    background-color: var(--color-accent);
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
  }
  .banner-section__subtitle {
    width: 75%;
    padding-left: 5px;
    line-height: 25px;
    font-size: 18px;
    letter-spacing: 1.1px;
    margin-bottom: 46px;
  }

  .buttons {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .banner-section__description {
    z-index: 1;
    position: relative;
    margin-left: auto;
    width: 100%;
    display: block;
    margin-top: auto;
    text-align: right;
    padding: 20px;
    color: var(--color-contrast);
  }

  @media (max-width: 1023px) {
        .banner-section__background--desktop {
      display: none;
    }
    .banner-section__background.banner-section__background--mobile {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        background-size: cover;
        background-position: bottom center;
    }
    .banner-section {
      background-position-y: 68%;
      background-size: cover;
      background-position-x: 72%;
      /* margin-top: 300px; */
      height: 780px;
    }
    .banner-section__main {
      position: relative;
      /* top: -350px; */
    }
    .banner-section__title {
      font-size: 35px;
      line-height: 40px;
      text-align: center;
      margin: 0 40px;
    }
    .buttons {
      flex-direction: column;
      gap: 15px;
    }

    .buttons .button {
      width: 280px;
    }

    .banner-section__title::before {
      display: block;
      content: "";
      position: absolute;
      height: 18px;
      top: 22px;
      left: 50%;
      transform: translateX(-50%);
      width: 335px;
      background: #f3f3f3;
      z-index: 1;
    }

    .banner-section__main {
      width: 100%;
    }

    .banner-section__subtitle {
      width: 50%;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }

    .banner-section__main {
      padding-top: 60px;
    }
  }

  @media(max-width: 376px) {
    .banner-section__title::before {
        top: 60px;
        width: 200px;
    }
  }
</style>

<script></script>
