---
import { Image } from "@astrojs/image/components";
import Button from "./ui/Button.astro";
import screenImage from "../assets/img/screen1.png";
import trustPilotLogo from "../assets/img/trustpilot-logo.svg";
---

<section>
    <main>
        <h1>Beautiful food & takeaway, <span class="primary-color">delivered</span> to your door.</h1>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500.
        </p>
        <Button href="/">Place an Order</Button>
        <div class="screen-additional">
            <img src={trustPilotLogo} alt="trustpilot logo" /><br>

            <span class="screen-text"><span class="primary-color">4.8 out of 5</span> based on 2000+ reviews</span>
        </div>
    </main>
    <Image src={screenImage} alt="screen1" width={600} height={580} />
</section>

<style>
    section {
        display: flex;
        padding: var(--container-padding);
        padding-top: 100px;
        padding-bottom: 100px;
        background-image: url('img/BGShape.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom right;
    }
    .screen-text {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
    }

    .screen-additional {
        margin-top: 30px;
    }
    main {
        padding-top: 57px;
    }
    h1 {
        margin-bottom: 27px;
    }
    p {
        margin-bottom: 53px;
    }
</style>
