---
import { Image } from "@astrojs/image/components";
import Button from "./ui/Button.astro";
import carImage from "../assets/img/screen2_car.jpg";
import deerImage from "../assets/img/screen2_deer.jpg";
---

<section class="screen2">
    <main>
        <h2>Что лучше:</h2>
        <div class="first-option fade-in-right">
            <div class="first-option__content">
                <h3 class="accent-text">Оказаться в незнакомых дорожных&nbsp;условиях</h3>
                <p>С высоким риском ДТП и реагировать по ситуации</p>
            </div>
            <Image class="first-option__img" src={deerImage} alt="" />
        </div>
        <div class="second-option fade-in-left">
            <Image src={carImage} alt="" class="second-option__img"/>
            <div class="second-option__content">
                <h3>Узнать, как вести себя в&nbsp;сложных&nbsp;условиях</h3>
                <p>И закрепить это на практике</p>
            </div>
        </div>
    </main>
</section>

<style>
    section {
        padding: var(--container-padding);
    }

    main {
        padding-top: 150px;
    }

    h2 {
        margin-bottom: 40px;
    }

    h3 {
        margin-bottom: 25px;
    }

    .first-option {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 36px;
    }

    .first-option__img {
        clip-path: polygon(22% 0, 100% 0, 100% 60%, 100% 100%, 100% 100%, 0 73%, 0 20%);
    }

    .second-option__img {
        clip-path: polygon(0 0, 0 30%, 100% 0, 100% 100%, 100% 100%, 26% 100%, 0 75%);
    }

    .second-option {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 36px;
    }

    .second-option__content {
        padding-left: 57px;
        padding-top: 90px;
    }
</style>

<script></script>
