---
import { Image } from "@astrojs/image/components";
import carImage from "../assets/img/screen2_car.jpg";
import deerImage from "../assets/img/screen2_deer.jpg";
---

<section class="screen2">
    <main class="screen2__main">
        <div class="first-option fade-in-right">
            <div class="first-option__content">
                <h3 class="screen2__h3 accent-text ">
                    Оказаться в незнакомых дорожных&nbsp;условиях
                </h3>
                <p class="screen2__text">С высоким риском ДТП и реагировать по ситуации</p>
            </div>
            <div class="first-option__image-wrapper">
                <Image class="first-option__img" src={deerImage} height={275} alt="" />
            </div>
        </div>
        <h2 class="screen2__title">Есть идея получше</h2>
        <div class="second-option fade-in-left">
            <div class="second-option__image-wrapper">
                <Image src={carImage} alt="" class="second-option__img" height={275} />
            </div>
            <div class="second-option__content">
                <h3 class="screen2__h3">Узнать, как вести себя в&nbsp;сложных&nbsp;условиях</h3>
                <p class="screen2__text">И закрепить это на практике</p>
            </div>
        </div>
    </main>
</section>

<style>
    .screen2 {
        padding-bottom: 90px;
    }

    .screen2__main {
        padding-top: 150px;
    }

    .screen2__title {
        padding: var(--container-padding);
        padding-top: 120px;
        padding-bottom: 120px;
        font-style: italic;
        font-weight: 700;
        font-size: 70px;
        line-height: 77px;
        text-transform: uppercase;
        text-align: center;
    }

    .screen2__h3 {
        margin-bottom: 25px;
    }

    .screen2__text {
        letter-spacing: 1.05px;
    }

    .first-option {     
        display: grid;
        justify-content: center;
        /* align-items: center; */
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 275px;
    }

    .h2.second-option__or {
        color: var(--color-accent);
        margin-bottom: 27px;
        display: block;
    }

    .first-option__content {
        padding: var(--container-padding);
        padding-right: 0;
        padding-top: 73px;
    }

    .first-option__image-wrapper {
        padding-right: 115px;
    }

    .second-option__image-wrapper {
        padding-left: 115px;
    }

    .first-option__img {
        width: 100%;
        object-fit: cover;
        user-select: none;
        clip-path: polygon(26% 0%,100% 0%,74% 100%,0% 100%);
    }

    .second-option__img {
        width: 100%;
        object-fit: cover;
        user-select: none;
        clip-path: polygon(26% 0%,100% 0%,74% 100%,0% 100%);
    }

    .second-option {
        display: grid;
        /* align-items: center; */
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 275px;
    }

    .second-option__content {
        padding: var(--container-padding);
        padding-left: 110px;
        padding-top: 93px;
    }

    .second-option__content > h3 {
        margin-bottom: 14px;
    }

    @media (max-width: 1023px) {
        .screen2__title {
            font-size: 30px;
            line-height: 33px;
            padding-top: 50px;
            padding-bottom: 50px;
        }
        .first-option {
            grid-template-columns: 1fr;
            grid-auto-rows: min-content;
        }

        .first-option__image-wrapper {
            order: -1;
            padding-right: 20px;
        }

        .first-option__img {
            clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
        }

        .first-option__content {
            padding: 30px 40px;
        }

        .screen2__title{
            text-align: center;
            margin-bottom: 50px;
        }

        .second-option {
            grid-template-columns: 1fr;
            padding-top: 50px;
            grid-auto-rows: min-content;
        }

        .second-option__image-wrapper {
            padding-left: 20px;
        }

        .second-option__img {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%);
        }

        .h2.second-option__or {
            font-size: 25px;
            line-height: 27.5px;
            margin-bottom: 20px;
        }

        .screen2__h3 {
            font-size: 25px;
            line-height: 27.5px;
        }

        .second-option__content {
            padding-left: 40px;
            padding-top: 30px;
        }
    }
</style>

<script>
    import { gsap } from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";
    const mm = gsap.matchMedia();

    // mm.add('(min-width: 1024px)', () => {
    //     gsap.registerPlugin(ScrollTrigger);

    //     ScrollTrigger.create({
    //         trigger: ".screen3",
    //         start: "-180px center",
    //         end: "top center",
    //         pin: ".second-option",
    //         pinSpacing: false,
    //     });
    // });
    
</script>
