---
import Button from "./ui/Button.astro";
import screen from "../assets/img/screen.jpg";


---

<section class="banner-section" style={`background-image: url(${screen.src});`}>
    <main>
        <h1 class="banner-section__title">
            Научись водить как&nbsp;боженька <strong>за 2 дня</strong>
        </h1>
        <p>Курсы контраварийной подготовки по&nbsp;спортивной&nbsp;методике</p>
        <div class="buttons">
            <Button href="#" style={"accent"}>Записаться</Button>
            <Button href="#">Подробнее</Button>
        </div>
    </main>
</section>

<style>
    section {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 633px;
        padding: var(--container-padding);
    }

    main {
        width: 60%;
        padding-top: 122px;
    }

    .banner-section__title {
        font-family: var(--heading-font);
        font-weight: bold;
        font-size: 55px;
        font-style: italic;
        line-height: 73px;
        text-transform: uppercase;
        color: var(--color-primary);
        margin-bottom: 26px;
    }

    strong {
        display: inline-flex;
        vertical-align: middle;
        padding: 9px 19px;
        margin-left: 23px;
        font-style: normal;
        padding-bottom: 5px;
        margin-bottom: 14px;
        color: var(--color-contrast);
        background-color: var(--color-accent);
        font-weight: 700;
        font-size: 30px;
        line-height: 37px;
    }
    p {
        width: 75%;
        padding-left: 6px;
        font-size: 18px;
        letter-spacing: 1.1px;
        margin-bottom: 46px;
    }

    .buttons {
        display: flex;
        align-items: center;
        gap: 30px;
    }
</style>

<script></script>
