---

---

<section>
    <h2>
        Профессиональные тренеры
    </h2>
    <div class="trainers">
        <div class="main-trainer">
            <img src="img/efim.jpg" alt="">
        </div>
        <div class="other-trainers">

        </div>
    </div>
</section>

<style>
    section {
        padding: var(--container-padding);
        padding-right: 0;
        padding-top: 90px;
        padding-bottom: 90px;
    }
    h2 {
        margin-bottom: 92px;
    }
</style>