---
import Button from "./ui/Button.astro";
import with_us from "../assets/img/with_us.jpg";
import with_us_mobile from "../assets/img/with_us_mobile.jpg";
---

<section
  class="with-us-section"
>
  <div class="with-us-section__background with-us-section__background--desktop"   style={`background-image: linear-gradient(90deg, rgba(255,255,255,75%), rgba(255, 255, 255, 40%) 64.04%), url(${with_us.src});`}></div>
  <div class="with-us-section__background with-us-section__background--mobile"   style={`background-image: linear-gradient(180deg, rgba(255,255,255,75%), rgba(255, 255, 255, 40%) 64.04%), url(${with_us_mobile.src});`}></div>

  <div class="container mx-auto">
    <p class="text-black mb-2 md:pl-1">
      Готов влюбиться в вождение заново?
    </p>
    <h2 class="with-us-section__title text-accent max-w-2xl">Увидимся на&nbsp;полигоне!</h2>
    <!--<div class="buttons">-->
    <!--  <Button isModal={true} style={"accent"}>Погнали</Button>-->
    <!--  <Button href="#programs">Программы</Button>-->
    <!--</div>-->
  </div>
</section>

<style>
  .with-us-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 550px;
    margin-top: 90px;
    margin-bottom: 90px;
    background-size: cover;
    position: relative;
    }
    .with-us-section > * {
      z-index: 1;
    }

  .with-us-section__background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
  }

  .with-us-section > p {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 21px;
  }

  .with-us-section__title {
    font-family: "TT Mussels";
    font-style: italic;
    font-weight: 700;
    font-size: 80px;
    line-height: 88px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  .buttons {
    display: flex;
    gap: 30px;
  }

  .with-us-section__background--mobile {
      display: none;
    }

  @media (max-width: 1023px) {
    .with-us-section__background--desktop {
      display: none;
    }

    .with-us-section__background--mobile {
      background-repeat: no-repeat;
      background-size: cover;
      display: block;
      background-position: center center;
    }

    .with-us-section  {
      padding: 0 40px;
      text-align: center;
      justify-content: flex-start;
      height: 100vh;
      padding-top: 120px;
    }
    .with-us-section__title {
      font-size: 34px;
      line-height: 120%;
    }
  }
</style>
