/* Variables */
:root {
    --color-primary: #46A5FF;
    --color-primary-dark: #1B9097;
    --color-accent: hsla(353, 70%, 53%, 1);
    --color-accent-dark: hsla(353, 71%, 43%, 1);
    --color-main: #646464;
    --color-main-light: #546285;
    --color-contrast: #fff;
    --color-contrast-low: #D9D9D9;

    --container-padding: 0 calc(50vw - 600px);
}

:root {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

p,
.p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: var(--color-main-light);
    letter-spacing: 0.36px;
}

.primary-color {
    color: var(--color-primary);
}