---
export interface Props {
    href: string;
    style?: 'primary' | 'accent' | 'outline'
}

const { href, style = 'primary' } = Astro.props as Props;
---

<a href="{href}" class={`button button--${style}`}>
    <slot />
</a>

<style is:global>
    .button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        color: var(--color-contrast);
        text-decoration: none;
        font-size: 16px;
        font-weight: normal;
        line-height: 20px;
    }

    .button--primary {
        background-color: var(--color-primary);
        width: 230px;
        color: var(--color-contrast);
    }

    .button--accent {
        background-color: var(--color-accent);
        width: 300px;
        color: var(--color-contrast);
    }

    .button--outline {
        background-color: transparent;
        width: 200px;
        height: 52px;
        font-size: 18px;
        color: var(--color-primary);
        border: 1px solid var(--color-primary);
    }
</style>
