<div class="red-block">
    <div class="red-block__content">
        <slot />
    </div>
    <svg class="red-block__svg" width="99" height="38" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M22.5 0h76.293L76.56 38H0L22.5 0Z" fill="rgb(226, 11, 65)"/></svg>
</div>

<style>
    .red-block {
        width: 99px;
        height: 38px;
        position: relative;
    }

    .red-block__content {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
    }

    .red-block__svg {
        z-index: 1;
    }
</style>